.header {
    border-bottom: 1px solid #F1F0F0;
    background-color: #FFF;
}

.header_inner {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    padding: 0 64px;
    margin: 0 auto;
}

.header_left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu {
    margin-left: 100px;
}

.menu_item {
    color: #231E1E;
    font-family: Inter;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.menu_item + .menu_item {
    margin-left: 48px;
}

@media (max-width: 769px) {

    .header_inner {
        height: 80px;
        padding: 0 20px;
    }

    .menu {
        margin-left: 30px;
    }

    .menu_item {
        font-size: 12px;
    }

    .menu_item + .menu_item {
        margin-left: 28px;
    }

}

@media (max-width: 426px) {
    .header_img {
        display: none;
    }
}