.testimonial_section {
    background-color: #231E1E;
}

.testimonial_inner {
    max-width: 1400px;
    padding: 128px 172px;
    margin: 0 auto;
}

.testimonial_quote {
    font-family: Inter;
    font-size: 24px;
    font-weight: 300;
    text-align: left;
    line-height: 40px;
    color: #F1F0F0;
    max-width: 948px;
    margin: 0;
    margin-top: 68px;
}

.testimonial_author {
    color: #989898;
    font-family: Inter;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    margin-top: 96px;
}


@media (max-width: 769px) {
    .testimonial_inner {
        padding: 100px 120px;
    }
    
    .testimonial_quote {
        font-size: 18px;
        line-height: 24px;
        margin-top: 30px;
    }

    .testimonial_author {
        margin-top: 30px;
    }
}

@media (max-width: 426px) {

    .testimonial_inner {
        padding: 60px 80px;
    }

    .testimonial_quote {
        font-size: 16px;
        line-height: 17px;
        margin-top: 15px;
    }

    .testimonial_author {
        margin-top: 15px;
        font-size: 20px;
    }

}