.button_info {
	background-color: #DAC2F2;
    color: #231E1E;
    font-family: Inter;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    border-radius: 24px;
    width: 192px;
    height: 48px;
}


@media (max-width: 768px) {
	.button_info {
		font-size: 12px;
		border-radius: 24px;
		width: 140px;
		height: 38px;
	}
}


@media (max-width: 320px) {
	.button_info {
		width: 90px;
	}
}